*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
  //Doesn't work in Internet Explorer, Edge(old) or Safari.
}
body {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  background: #2d3436;
  color: #ffffff;
  line-height: 1.2em;
}
@mixin center-ic($flex, $align, $justify){
  display: $flex;
  align-items: $align;
  justify-content: $justify;
}
@mixin center-ii($flex, $align, $justify){
  display: $flex;
  align-items: $align;
  justify-items: $justify;
}
$textSmall: .6em;
$textMedium: .8em;
$textBig: 1.5em;

$fontColor: #ffffff;
$hoverColor: #821186;
$bgColor: #2d3436;
$lineColor: #161616;
$bgFaceColor: #383838;



#ski-icon{
  width: 100px;
  height: auto;
  margin-right: 2vw;
}

/*calc*/
.calc-title{
  @include center-ic(flex, center, center);
  width: 100%;
  flex-direction: column;
  margin-top: 20px;
  h2{
      @include center-ii(flex, center, center);
    font-size: $textBig;
    margin-bottom: 20px;
  }
}
.small_box{
  display: flex;
  flex-direction: row;
  max-width: 1000px;
  font-size: $textMedium;
}
.t1,
.t2,
.t3{
  max-width: 300px;
  text-align: center;
  margin: 0 20px;
}
.calc{
  @include center-ii(flex, center, center);
  width: 100%;
  margin: auto;
  max-width: 1000px;
  min-width: 400px;
  font-size: $textMedium;
  flex-direction: column;
}
.box1{
  margin-top: 10px;
}
.cont-card{
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-around;
  flex-wrap: wrap;
  line-height: 1em;
}
.card{
  margin: 5px;
  position: relative;
  font-size: $textMedium;
  display: flex;
  flex-direction: column;
}
.face{
  width: 150px;
  height: 150px;
  transition: .5s;
  display: flex;
  flex-direction: column;
}
#hover-desc{
  margin: 5px;
}
.face1{
  @include center-ic(flex, center, center);
  position: relative;
  background: $bgFaceColor;
  z-index: 1;
  border-radius: 10px;
  transform: translateY(75px);
}
.face2{
  @include center-ic(flex, center, center);
  position: relative;
  background: $bgFaceColor;
  box-sizing: border-box;
  border-radius: 10px;
  transform: translateY(-75px);
}
.card:hover .face1{
  background: #4b0303;
  transform: translateY(0);
  border-radius: 0px;
  cursor: pointer;
  border-bottom: solid 4px $lineColor;
}
.card:hover .face2{
  background: $bgFaceColor;
  transform: translateY(0);
  border-radius: 0px;
  cursor: pointer;
}
@media screen and (max-width:825px){
  .cont-card{
    display: flex;
    flex-direction: column;
  }
  .card{
    height: 80px;
    font-size: $textMedium;
    display: flex;
    flex-direction: row;
  }
  .face{
    width: 236px;
    height: 80px;
    transition: .5s;
    display: flex;
    flex-direction: column;
  }
  .face1{
    @include center-ic(flex, center, center);
    position: relative;
    transform: translateX(118px);
  }
  .face2{
    @include center-ic(flex, center, center);
    position: relative;
    box-sizing: border-box;
    transform: translateX(-118px);
  }
  .card:hover .face1{
    background: #4b0303;
    transform: translateY(0);
    border-radius: 0px;
    cursor: pointer;
    border-right: solid 4px $lineColor;
    border-bottom: none;
  }
  .card:hover .face2{
    background: $bgFaceColor;
    transform: translateY(0);
    border-radius: 0px;
    cursor: pointer;
  }
}
//second breakpoint
@media screen and (max-width:500px){
  .cont-card{
    display: flex;
    flex-direction: column;
  }
  .card{
    height: 120px;
    font-size: $textMedium;
    display: flex;
    flex-direction: row;
  }
  .face{
    width: 180px;
    height: 120px;
    transition: .5s;
    display: flex;
    flex-direction: column;
  }
  .face1{
    @include center-ic(flex, center, center);
    position: relative;
    transform: translateX(90px);
  }
  .face2{
    @include center-ic(flex, center, center);
    position: relative;
    box-sizing: border-box;
    transform: translateX(-90px);
  }
  .card:hover .face1{
    background: #4b0303;
    transform: translateY(0);
    border-radius: 0px;
    cursor: pointer;
    border-right: solid 4px $lineColor;
    border-bottom: none;
  }
  .card:hover .face2{
    background: $bgFaceColor;
    transform: translateY(0);
    border-radius: 0px;
    cursor: pointer;
  }
}
.big-box{
  width: 100%;
  display: flex;
  flex-direction: row;
}
.box2{
  display: flex;
  flex-direction: column;
  flex: 2;
  margin: 10px 10px 10px 10px;
}
.level,
.height,
.weight,
.age,
.boot{
  background: $bgColor;
  margin: 10px;
  border: solid 1px $bgFaceColor;
  color: $fontColor;
  border-radius: 5px;
  &:focus { 
  outline:0 !important; 
  }
}
.box3{
  @include center-ic(flex, center, center);
  background: $fontColor;
  flex: 1;
  margin: 2% 5% 2% 5%;
  border-radius: 5px;
  color: #0c1e31;
  font-size: 5em;
}
#result{
  font-size: $textBig;
  transition: 2s;
}
.box4{
  background: #4b0303;
  width: 100%;
  padding: 15px;
  font-size: $textMedium;
  line-height: 2em;
}



/*footer*/ 
.madeby{
  @include center-ic(flex, center, center);
  width: 100%;
  background: $bgFaceColor;
  font-size: $textSmall;
  padding: 5px 0 5px 0;
  margin-top: 10px;
  position: relative;
  bottom: 0;
}